/node_modules
/public/hot
/public/images/articles
/public/images/collaborators
/public/images/team
/public/images/admin
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
