/node_modules
/public/hot
/images/articles/
/images/collaborators/
/images/team/
/images/admin/
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
